body {
}
#myPicture {
    background: url("/img/y1.jpg");
    height: 700px;
    background-size: cover;
}

#imageText {
    text-align: left;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #myPicture {
        background: url("../img/y576.jpg");
        background-size: cover;
        max-width: 100%;
        height: auto;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.99px) and (max-width: 767.98px) {
    #myPicture {
        background: url("../img/y768.jpg");
        background-size: cover;
        max-width: 100%;
        height: auto;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 767.99px) and (max-width: 991.98px) {
    #myPicture {
        background: url("../img/y991.jpg");
        background-size: cover;
        max-height: 500px;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 991.99px) and (max-width: 1199.98px) {
    #myPicture {
        background: url("../img/y991.jpg");
        background-size: cover;
        max-height: 700px;
    }
}

@media (min-width: 1199.99px) {
    #myPicture {
        background: url("../img/y1.jpg");
        height: 700px;
        background-size: cover;
    }
}

/*Extra large devices (large desktops)
 No media query since the extra-large breakpoint has no upper bound on its width
*/